@font-face {
    font-family: 'spongeboy'; /* Use a suitable name for your font */
    src: url('/assets/fonts/Spongeboy.otf') format('opentype');
    /* Add more font formats and file paths if necessary */
    font-weight: normal;
    font-style: normal;
  }